In [1]:
import pandas as pd

In [2]:
data = {'customer_name':['Rahul', 'Rahul', 'Samyak', 'Samyak', 'Rohan', 'Rohan', 'Rohan', 'Prateek', 'Prateek'],
        'status':['Delivered', 'Delivered', 'Delivered', 'Created', 'Submitted', 'Created', 'Submitted', 'Delivered', 'Delivered'],
        'order_id':[1, 2, 3, 4, 5, 6, 7, 8, 9]}
df = pd.DataFrame(data)
df

  customer_name     status  order_id
0         Rahul  Delivered         1
1         Rahul  Delivered         2
2        Samyak  Delivered         3
3        Samyak    Created         4
4         Rohan  Submitted         5
5         Rohan    Created         6
6         Rohan  Submitted         7
7       Prateek  Delivered         8
8       Prateek  Delivered         9

In [3]:
cust_list = df.customer_name
cust_list_unik = cust_list.unique()
cust_list_unik

array(['Rahul', 'Samyak', 'Rohan', 'Prateek'], dtype=object)

In [4]:
set(df[df.customer_name == 'Rahul'].status.values)

{'Delivered'}

In [5]:
status_list = []
for i in cust_list_unik:
    status_set = set(df[df.customer_name == i].status.values)
    if 'Delivered' not in status_set and 'Submitted' not in status_set:
        status_list.append('Awaiting Submission')
    elif 'Delivered' not in status_set and 'Submitted' in status_set:
        status_list.append('Awaiting progress')
    elif 'Delivered' in status_set and 'Submitted' in status_set or 'Created' in status_set:
        status_list.append('In Progress')
    else:
        status_list.append('Completed')

df2 = pd.DataFrame({'customer_name': cust_list_unik,
                  'final_status': status_list})
df2.sort_values(by='customer_name')

  customer_name       final_status
3       Prateek          Completed
0         Rahul          Completed
2         Rohan  Awaiting progress
1        Samyak        In Progress